.form-control {
    margin-bottom: 10px;
     position: relative; 
} 


.form-control input {
    display: inline-block; 
    margin-bottom: 5px;
    color: #828CAD;
}

.form-control input {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;

    display: block;

    font-size: 14px;

    width: 100%;
    padding: 15px;
}

.form-control.success input {
    border: 1px solid #4ECA64;
}

.form-control.error input {
    border: 1px solid #DB5A5A;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

/* .form-control i {
    position: absolute;
    top: -100px;
    right: 10px;
    visibility: hidden;
} */

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;
}

.form-control.success i{
    margin-top: -10px;
}